@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.Weather {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: small;
  margin: 0 auto;
  width: 100%;
  color: rgb(252, 237, 210);
}

.block {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
}

.row {
  padding-top: 30px;
}

.fade-in {
  animation: fadeIn ease-out 3s;
  -webkit-animation: fadeIn ease-out 3s;
}

.Loading {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
  margin-top: 30px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
